@model Adventure

<form asp-action="AddAdventure" method="POST">
    <label asp-for="title">Add new adventure:</label>
    <input asp-for="title">
    <label asp-for="game">Game:</label>
    <input asp-for="game">

    <button type="submit">Add</button>
</form>