@model Adventure

<form asp-action="AddAdventure" method="POST">
    <label asp-for="title">Add new adventure:</label>
    <input asp-for="title">
    <label asp-for="game">Game:</label>
    <input asp-for="game">
    <label asp-for="meet">Date:</label>
    <input asp-for="meet" type="date">
    <button type="submit">Add</button>
</form>